.simple-slider .swiper-slide {
  /*height: 360px;*/
  object-fit: contain;
  justify-content: center;
  align-content: center;
  background-color: #f8f9fa;
}

.simple-slider .swiper-slide-big {
  /*height: 360px;*/
  object-fit: contain;
  justify-content: center;
  align-content: center;
  background-color: #e8eef2;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 50%;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    /*display: none;*/
  }
}

